{% extends 'base.html.twig' %}

{% block title %}Foto{% endblock %}

{% block main %}
    <h1>Foto</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ foto.id }}</td>
            </tr>
            <tr>
                <th>Titulo</th>
                <td>{{ foto.titulo }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ foto.descripcion }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{{ foto.fecha ? foto.fecha|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Archivo</th>
                <td>{{ foto.archivo }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_foto_index') }}">back to list</a>

    <a href="{{ path('app_foto_edit', {'id': foto.id}) }}">edit</a>

    {{ include('foto/_delete_form.html.twig') }}
{% endblock %}
